/* Home */
.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
}

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh; 
  margin: 0; 
}

/* NewCorrespondenceForm */
.formContainer {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.correspondenceForm {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.options-container {
  text-align: center;
}

.type-select {
  width: 200px; 
}


/* NewVisitForm */
.formContainer {
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left; 
  margin: 20px auto; 
}

.frequentVisitsForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formGroup {
  margin-bottom: 15px;
  width: 100%; 
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

.inputField {
  width: calc(100% - 16px); 
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.submitButton {
  display: block; /* Convertir el botón Fen bloque para centrarlo */
  margin: 20px auto 0; /* Margen superior automático para separarlo verticalmente y centrado horizontal */
  width: fit-content; /* Ancho ajustado al contenido del botón */
}

.submitButton:hover {
  background-color: #0056b3;
}


/* Notifications */
/* .notifications-container {
  margin-top: 30px;
  height: 100vh; 
  padding: 20px;
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
}

.notifications-list {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.notifications-list li {
  margin-bottom: 10px; 
  position: relative;
  padding-left: 20px;
  display: block;
  width: 100%; 
  border-bottom: 1px solid #ccc;
}

.notifications-list li::before {
  content: '•'; 
  position: absolute;
  left: 0;
}

.divider {
  border: none;
  border-top: 1px solid black; 
  width: 100%; 
  margin: 10px 0; 
}
*/






/* Admin Frequent Visits */
/*
.admin-frequent-visits {
  margin-top: 20px; 
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f0f0f0; 
}

.trTopPart {
  border-bottom: 2px solid #333; 
}

tr:not(:first-child):hover {
  background-color: #f7f7f7; 
}

button {
  background-color: #cb1313; 
  color: #ffffff; 
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}


.addFrequentVisitButton {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  margin: 40px auto;
  display: block;
}

.centeredHeading {
  text-align: center;
} */


/* AdminCorrespondence */

.addNewCorrespondenceButton {
  margin-top: 40px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  background-color: #007bff;
}

.centeredHeading {
  text-align: center;
}




/* Messages */
.messages-container {
  text-align: center;
  padding: 20px;
}

.message-input {
  width: 300px; 
  height: 100px; 
  resize: none;
  margin-bottom: 10px;
}

.type-select {
  width: 200px; 
  margin-bottom: 10px;
}

.send-button {
  padding: 10px 20px;
  background-color: #007bff;
}



/* Config */
/*
.config-container {
  text-align: center;
}

.buttons-container {
  margin-top: 20px;
}

.config-button {
  margin-right: 20px;
  background-color: #dddddd;
  color: #000000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.config-box {
  margin-top: 20px;
  border: 1px solid #cccccc;
  padding: 20px;
}

.notification-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.info-item label {
  margin-right: 10px;
}



.info-item button {
  margin-left: auto; 
}


.notification-item button {
  background-color: #cb1313;
  color: #ffffff;
  margin-left: 20px;
}

.update-info-button {
  background-color: #007bff;
}

.password-item label,
.password-item input {
  display: block;
  margin-bottom: 10px;
}

.password-item input {
  width: 100%;
  padding: 8px;
}


.password-item label {
  margin-right: 10px;
}
*/

/* SearchPersonCam */
.searchButton {
  text-decoration: none; 
}

.searchButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
}


/* AdminMessages */

.admin-messages-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.user-container {
  display: flex;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}

.user-info {
  margin-right: 20px;
}

.user-info p {
  margin: 5px 0;
  display: inline-block; 
  margin-right: 10px; 
}

.user-message {
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex-grow: 1;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}


/* AdminParking */
.admin-parking {
  text-align: center; 
}

.admin-parking .modifyParkingButton {
  margin-top: 20px;
}



/* Navbar styles */
nav {
  position: fixed; /* Posición fija */
  top: 0; /* Anclar en la parte superior */
  left: 0; /* Anclar en el lado izquierdo */
  width: 100%; /* Ocupar todo el ancho */
  background-color: #f0f0f0; /* Fondo gris */
  padding: 10px;
  z-index: 1000; /* Asegurar que esté en la parte superior */
  display: flex; /* Mostrar como flexbox */
  justify-content: center; /* Centrar horizontalmente */
}

ul {
  list-style-type: none; /* Sin bullet points */
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 10px;
}

/* Enlaces dentro de la navbar */
a {
  text-decoration: none; /* Sin subrayado */
  color: black; /* Texto negro */
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #f0f0f0; /* Fondo gris */
}

a:hover {
  background-color: #ddd; /* Cambiar color al pasar el ratón */
}
